# PyCharm files
.idea/
*.iml

# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Logs
logs/
*.log

# Processed & output data
data/processed/
data/outputs/

!**/.gitkeep

!data/assets/map_preview.png

# GIS formats
*.gpkg
*.shp
*.shx
*.dbf
*.cpg
*.prj

!data/raw/Ottawa_DAs.gpkg
!data/raw/Ottawa_Parks_and_Greenspace.gpkg

# OS
.DS_Store
Thumbs.db